# Datos pesados (Big Data)
data/raw/
data/processed/
*.tif
*.shp
*.gpkg
*.zip

# Modelos serializados
*.pkl
*.joblib

# Archivos auxiliares de QGIS y Raster
*.aux.xml
*.qgz
*.cpg
*.dbf
*.prj
*.shx

# Entorno virtual y Python
venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store