# --- Ingesta y Web Scraping ---
requests
urllib3

# --- Manipulación de Datos y GIS ---
pandas
geopandas
shapely
fiona
pyproj
rasterio     # Esencial para la Fase 2 del Plan Maestro

# --- Machine Learning ---
scikit-learn
xgboost      # El algoritmo principal según el Plan Maestro
numpy

# --- Utilidades ---
pathlib
tqdm         # Para ver barras de progreso en tus scripts de descarga