# --- Ingesta y Web Scraping ---
requests
urllib3

# --- Manipulación de Datos y GIS ---
pandas
geopandas
contextily
shapely
fiona
pyproj
rasterio
whitebox

# --- Matemáticas y Procesamiento ---
numpy
scipy
gdal

# --- Inteligencia Artificial y Machine Learning ---
scikit-learn
xgboost
joblib

# --- Visualización y Notebooks ---
jupyter
notebook
matplotlib
seaborn
tqdm
nbstripout