# --- Ingesta y Web Scraping ---
requests
urllib3

# --- Manipulación de Datos y GIS ---
pandas
geopandas
shapely
fiona
pyproj
rasterio
whitebox

# --- Notebooks y Visualización ---
jupyter
notebook
matplotlib
seaborn


# --- Motor de Procesamiento Raster

gdal 
numpy
scipy